@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --secondary: #6d1600;
  --primary: #282a3a;
  --grey: #878891;
  --neutral-grey: #d9d9d9;

  --secondary-rgb: 109, 22, 0;
  --primary-rgb: 40, 42, 58;
  --grey-rgb: 135, 136, 145;
  --neutral-grey-rgb: 217, 217, 217;

  --padding-margin-size: 5rem;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #282a3a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

.container {
  padding: var(--padding-margin-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fs--1 {
  font-size: 2.5rem !important;
}

.fs--2 {
  font-size: 2rem !important;
}

.fs--3 {
  font-size: 1.75rem !important;
}

.fs--4 {
  font-size: 1.5rem !important;
}

.fs--6 {
  font-size: 1rem !important;
}

.text--start {
  text-align: left !important;
}

.text--center {
  text-align: center !important;
}

.text--end {
  text-align: right !important;
}

.flex--container {
  display: flex;
}

.grid--container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 10px;
}

.title {
  text-align: center;
  margin-bottom: var(--padding-margin-size);
}

.section-title {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  color: var(--grey);
  font-weight: 400;
}

.section-subtitle {
  padding: 0;
  margin: 0;
  margin-top: 8px;
  color: var(--primary-rgb);
  font-size: 2.25rem;
  font-weight: 400;
}

a.button {
  text-decoration: none;
}

.button {
  padding: 1.5rem 2.5rem;
  background-color: var(--secondary);
  color: white;
  font-size: 1.5rem;
}

.button-playfair {
  font-family: "Playfair Display", serif;
}

.button__icon {
  margin-left: 1rem;
}

.button-rounded-corner {
  border-radius: 0 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

hr.style-two {
  border: 0;
  padding: 0;
  margin: 0;
  height: 1px;
  width: 90%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.card {
  border-radius: 25%;
  background-color: #6d1600;
}

/* Navbar */
nav {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

nav div img {
  max-width: 50px;
  justify-self: end;
  align-self: center;
}

nav ul li a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-weight: 600;
  padding: 8px 0;
  transition: all 300ms;
  border-bottom: 1px solid #6d1600;
}

nav ul li a:hover {
  color: #6d1600;
  border-bottom: 1px solid #6d1600;
}

.containerHome {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.containerHome2 {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 80px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-neutralcolor-white);
}

.containerHome3 {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text1,
.text2,
.text3 {
  color: var(--dl-color-neutralcolor-black);
  height: auto;
  font-style: Regular;
  font-family: Inter;
  font-weight: 400;
  line-height: 120%;
  font-stretch: normal;
  text-decoration: none;
}

.text1 {
  font-size: 64px;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 500;
}

.text2 {
  font-size: 20px;
  text-align: center;
}

.text3 {
  font-size: 24px;
  color: #fff;
}

.button1 {
  gap: 16px;
  display: flex;
  padding: 24px 48px;
  align-items: center;
  border-radius: 0 32px;
  justify-content: center;
  background-color: #6d1600;
}

.arrowbutton {
  width: 34px;
  height: 34px;
}

.containerImg {
  gap: 16px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}

.ImgHome {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
  border-radius: 0 80px;
}

.sectionRate {
  gap: 40px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 80px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: var(--dl-color-neutralcolor-white);
}

.rate {
  gap: 8px;
  width: 214px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}

.textRate1 {
  color: var(--dl-color-neutralcolor-black);
  font-size: 50px;
  font-style: Regular;
  font-family: Inter;
  font-weight: 400;
  line-height: 120%;
  font-stretch: normal;
}

.textRate2 {
  color: var(--dl-color-neutralcolor-black);
  font-size: 20px;
  font-style: Regular;
  font-family: Inter;
  font-weight: 400;
  line-height: 120%;
  font-stretch: normal;
}

/* Testimonial */
.row--testimonial {
  gap: 2rem;
  justify-content: center;
}

.card-testimonial {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  flex: 0 0 auto;
  width: 30%;
}

.card-testimonial__header {
  display: inline-flex;
  gap: 2rem;
}

.card-testimonial__header-name {
  font-weight: 600;
}

.card-testimonial__body p {
  font-weight: 400;
  line-height: 28px;
}

.testimonial-carousel-navigation {
  display: inline-flex;
  gap: 0.5rem;
}

.ellipse-active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #6d1600;
}

.ellipse {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

/* Blog */
.row--blog {
  gap: 2rem;
  justify-content: center;
}

.card-blog {
  border: 1px solid var(--neutral-grey);
  border-radius: 0px 5.75rem 0px 2.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  flex: 0 0 auto;
  width: 30%;
}

.card-blog__caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

.card-blog__caption--icon {
  margin-right: 8px;
}

.card-blog__body {
  font-weight: 600;
  font-size: 1.5rem;
}

.card-blog__footer {
  text-decoration: none;
  text-align: right;
  padding-right: 1rem;
  color: var(--primary);
}

.button--blog {
  margin-top: var(--padding-margin-size);
}
